
*.wav
UrbanSound8K/.DS_Store
UrbanSound8K/audio/.DS_Store
UrbanSound8K/audio/fold1/.DS_Store
UrbanSound8K/audio/fold10/.DS_Store
UrbanSound8K/audio/fold2/.DS_Store
UrbanSound8K/audio/fold3/.DS_Store
UrbanSound8K/audio/fold4/.DS_Store
UrbanSound8K/audio/fold6/.DS_Store
UrbanSound8K/audio/fold5/.DS_Store
UrbanSound8K/audio/fold7/.DS_Store
UrbanSound8K/audio/fold8/.DS_Store
UrbanSound8K/audio/fold9/.DS_Store
UrbanSound8K/FREESOUNDCREDITS.txt
UrbanSound8K/metadata/.DS_Store
UrbanSound8K/metadata/UrbanSound8K.csv
UrbanSound8K/UrbanSound8K_README.txt
*.npy
*.h5
